version: '3.9'

x-images:
  dev_image: &dev_image
    image: ${REGISTRY_URI}${DEV_IMAGE_NAME}:${DEV_IMAGE_TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: ruby_develop
      args:
        bundler_version: 1.17.3
        bundle_without:
        extra_packages:
        files_to_remove:
        registry_uri: ${REGISTRY_URI}

  prd_image: &prd_image
    image: ${REGISTRY_URI}${PRD_IMAGE_NAME}:${PRD_IMAGE_TAG:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
      target: ruby_service
      args:
        bundler_version: 1.17.3
        bundle_without: development:test
        extra_packages: mysql-dev=~10.5 mysql-client=~10.5
        files_to_remove:
        registry_uri: ${REGISTRY_URI}

x-bases:
  dev_base: &dev_base
    <<: *dev_image
    stdin_open: true
    tty: true
    environment:
      EDITOR: vi
    volumes:
      - ..:/srv/cas
      - gems_bundle:/usr/local/bundle
    tmpfs:
      - /tmp
    depends_on:
      - cas-mysql

  prd_base: &prd_base
    <<: *prd_image
    volumes:
      - ../config/config.yml:/srv/cas/config/config.yml
      - ../log/casserver.log:/srv/cas/log/casserver.log
    depends_on:
      - cas-mysql

services:
  cas-mysql:
    image: ${REGISTRY_URI}mysql:5.7
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    env_file: cas-mysql.env
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_confd:/etc/mysql/conf.d/
      - ./mysql_initdb:/docker-entrypoint-initdb.d/
    ports:
      - 3366:3306
    networks:
      - default
    restart: always
    healthcheck:
      test: ['CMD-SHELL', "mysql -u root -p$${MYSQL_ROOT_PASSWORD} -e 'status'"]
      start_period: 5s
      interval: 5s
      timeout: 3s
      retries: 5

  cas-dev:
    <<: *dev_base
    env_file:
      - cas-dev.env
    command: wait-for cas-mysql:3306 -- bundle exec bin/rubycas-server -c config/config.yml
    ports:
      - 4000:3000
    networks:
      - default
      - authenticator

  cas-web:
    <<: *prd_base
    env_file:
      - cas-web.env
    command: wait-for cas-mysql:3306 -- bundle exec bin/rubycas-server -c config/config.yml
    ports:
      - 6000:3000
    networks:
      - default
      - authenticator

volumes:
  mysql_data:
  mysql_confd:
  gems_bundle:

networks:
  default:
  authenticator:
    external: true
    name: ${AUTHENTICATOR_NETWORK_NAME}
